<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <style>
        table, th, tr,td{
            border: solid 1px;
            border-collapse: collapse ;
        }
    </style>
</head>
<body>
    <h2><a href="/">Index page</a></h2>
    <table>
        <thead><h3>Statistic of requests</h3></thead>
        <tbody>
            <tr>
                <th>Method</th>
                <th>Count</th>
            </tr>
            <tr>
                <td>GET</td>
                <td>{{ requests.METHOD_GET }}</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>{{ requests.METHOD_POST }}</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>{{ requests.METHOD_PUT }}</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>{{ requests.METHOD_DELETE }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>